<!DOCTYPE HTML>
<!--
	Auteur : BATIER Léa
-->
<html>
<head>
	<title>TOP 6</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
</head>
<body class="is-preload">
	
	<!-- Wrapper -->
	<div id="wrapper">
		
		<!-- Header -->
		<header id="header" class="alt">
			<a href="/" class="logo"><strong>TOP 6</strong> <span>by me</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>
		
		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/login/">Login</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
		
		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>TOP 6 des pires langages de programmation</h1>
				</header>
				<div class="content">
					<p>Voici le top le plus constructif du monde informatique<br />
						Ce Top se base sur des milliers d'études réalisées par des professionels de ce monde obscur</p>
						<ul class="actions">
							<li><a href="#one" class="button next scrolly">let's begin</a></li>
						</ul>
					</div>
				</div>
			</section>
			
			<!-- Main -->
			<div id="main">
				
				<!-- One -->
				<section id="one" class="tiles">
					<article>
						<span class="image">
							<img src="images/pic01.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">PHP</a></h3>
							<p>Le problème : il est très facile de faire du code non sécurisé avec PHP.</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic02.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">PhP</a></h3>
							<p>an other on but slitly different</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic03.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">Php</a></h3>
							<p>mayber the same but we dont know that yet</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic04.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">phP</a></h3>
							<p>maybe you dont know this one</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic05.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">pHp</a></h3>
							<p>this one is maybe good</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic06.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="" class="link">php</a></h3>
							<p>and the last one</p>
						</header>
					</article>
				</section>
				
				<!-- Two -->
				<section id="two">
					<div class="inner">
						<header class="major">
							<h2>Conclusion</h2>
						</header>
						<p>" La meilleure pratique en PHP, c'est de prendre autre chose " signé anonyme</p>
						<ul class="actions">
							<li>Nous contacter</li>
							<li><a href="https://github.com/Blackcat2710"class="button next">Blackcat2710</a> </li>
							<li><a href="https://github.com/RocaFR"class="button next">RocaFR</a> </li>
							<li><a href="https://github.com/rthidfrev"class="button next">rthidfrev</a> </li>
							<li><a href="https://github.com/Iamgroottootoo"class="button next">Iamgroottootoo</a> </li>
							<li><a href="https://github.com/Ireallyamnotaninja"class="button next">Ireallyamnotaninja</a> </li>
							
						</ul>
					</div>
				</section>
				
			</div>
			
			
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy;Tous droits réservés </li><li>Design : <a> BATIER Léa</a></li>
					</ul>
				</div>
			</footer>
			
		</div>
		
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		
	</body>
	</html>