<!DOCTYPE HTML>
<!--
	Auteur : BATIER Léa
-->
<html>
<head>
	<title>Contact - TOP 6</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
</head>
<body class="is-preload">
	
	<!-- Wrapper -->
	<div id="wrapper">
		
		<!-- Header -->
		<!-- Note: The "styleN" class below should match that of the banner element. -->
		<header id="header" class="alt style2">
			<a href="/" class="logo"><strong>TOP 6</strong> <span>by me</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>
		
		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/login/">Login</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
		
		<!-- Banner -->
		<!-- Note: The "styleN" class below should match that of the header element. -->
		<section id="banner" class="style2">
			<div class="inner">
				<span class="image">
					<img src="images/pic07.jpg" alt="" />
				</span>
				<header class="major">
					<h1>Remerciements</h1>
				</header>
			</div>
		</section>
		
		
		<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
					<p>Nous vous remercions {{ name }} de nous avoir contacté.<br>
					Nous revenons vers vous au plus vite sur {{ email }}</p>
				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							<a href="#">vide@ynov.com</a>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Phone</h3>
							<span>(+33)6 06 06 06 06</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-home"></span>
							<h3>Address</h3>
							<span>01 Chemin de nulle part<br />
								00 000, Ailleurs<br />
								France</span>
							</div>
						</section>
					</section>
				</div>
			</section>
			
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy;Tous droits réservés </li><li>Design : <a> BATIER Léa</a></li>
					</ul>
					<ul class="actions">
						<li>Nous contacter</li>
						<li><a href="https://github.com/Blackcat2710"class="button next">Blackcat2710</a> </li>
						<li><a href="https://github.com/RocaFR"class="button next">RocaFR</a> </li>
						<li><a href="https://github.com/rthidfrev"class="button next">rthidfrev</a> </li>
						<li><a href="(https://github.com/Iamgroottootoo"class="button next">Iamgroottootoo</a> </li>
						<li><a href="(https://github.com/Ireallyamnotaninja"class="button next">Ireallyamnotaninja</a> </li>
						
					</ul>
				</div>
			</footer>
			
		</div>
		
		
	</div>
	
	<!-- Scripts -->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	
</body>
</html>